<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zou.fastlibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        >
        <service android:name="com.zou.fastlibrary.server.LivelyServer"></service>
    </application>
</manifest>
